{{ define "error" }}
{{if .Error}}
<div id="error-background">
  <div id="error-content">
    <h2>Welp, this is embarrassing...</h2>
    <p>An error occured, try going back <a href="/">home</a></p>
    <img
      src="https://imgs.search.brave.com/jfcQ8sg9DAqWL8YInaE7WMGbhjcqIZRyNDYX6WvOJJo/rs:fit:860:0:0:0/g:ce/aHR0cDovL3JhbmRv/bWZ1bm55Y2F0LmNv/bS93cC1jb250ZW50/L3VwbG9hZHMvMjAx/Ni8wNS9PTUctaW0t/c29ycnktaS1oYWQt/bm8taWRlYS0zMDB4/MjI3LmpwZw"
      alt="cat gif with text saying sorry">
  </div>
</div>
{{end}}
{{end}}
