<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{ template "header"}}
  <main>
    <p>Hey! 👋</p>
    <br>
    <p>Welcome to my website. I'm currently an undergraduate student working as a software engineer.</p>

    <h2>Personal Background</h2>
    <p>II'm an American raised by Brazilian parents in the UK. My identity and values have been shaped by this blend of
      cultures. My fascination with computers started when I was young, spending the majority of my younger years in
      front of a screen. Before getting into tech, I gained a lot of life experience working at different jobs, but
      specifically at McDonald's, where I stayed for over 2 years and where I developed a strong work ethic. I also had
      a brief internship at LEGO in retail marketing, exposing me to the more creative side of business. Throughout my
      journey so far, I believe that two key values have guided me: the importance of hard work and the acceptance of
      failure. All in all, my cultural background, experience and values have led me to be the person I am today.
    </p>

    <h2>My Development Journey</h2>
    <p>My journey into development started in 2018, solving small problems in my GCSE (middle school) computer science
      class. The one problem that hooked me was building a pyramid of asterisks in the console using Visual Basic – that
      one simple task ignited my love for solving problems with code. I took computer science further into my A-levels
      (high school) alongside maths and physics. During this time, I built a maze visualiser for my final coursework,
      which I am still proud of today (even if the code is sh*t). I have a <a
        href="https://www.youtube.com/playlist?list=PL3YAEsPABRrxRmNFIRFjes7XDmWsjn9kN">playlist</a> of testing videos
      to
      showcase the project.</p>
    <br>
    <p>Afterwards, I got accepted into an amazing scheme at the Driver & Vehicle Standards Agency, where I was able to
      complete a BSc in Digital Technology Solutions whilst gaining real-world experience as a full-time software
      engineer. At DVSA, I've worked on projects like containerising the <a
        href="https://www.gov.uk/transport/vehicle-operator-licences">Vehicle Operator Licence</a> service and rewriting
      an API from Java to TypeScript using serverless architecture.
    </p>

    <h2>Do I do anything else other than sit behind a screen?</h2>
    <p>Yes! I've recently got back into a few old hobbies, like learning about philosophy and weightlifting. I feel
      like these hobbies provide me with some counterbalance to my technical work and exercise different parts of my
      brain and body. Whether these hobbies directly affect my coding ability is irrelevant. Whilst I love programming,
      I also think it's important to have other interests that aren't directly related.</p>
  </main>
</body>

</html>
