<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{ template "header"}}
  <main>
    <h1>This Page Is Under Construction</h1>
    <hr>
    <div class="quote">
      <p>Building in progress. Whilst I get this done feel free to entertain yourself with these cats!</p>
      <p>Gabriel Guimaraes</p>
    </div>
    <img src="https://cataas.com/cat/gif" alt="cat gif">
    <p>If you want to look at the current portfolio, click <a href="https://www.gabrielg.tech">here</a>.</p>
    <br>
    <i>gifs provided by <a href="https://www.catass.com">catass</a> api.</i>
  </main>
</body>

</html>
