<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{ template "header"}}
  <main>
    <p>Software Engineer at the Driver & Vehicle Standards Agency -- Building and maintaining TypeScript and PHP
      services</p>
    <br>
    <p>Best way to reach me is my <a href="https://linkedin.com/in/gabrielg4">Linkedin</a></p>
  </main>
</body>

</html>
