<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{ template "header"}}
  <main>
    <h1>404 - Page Not Found!</h1>
    <hr>
    <div class="quote">
      <p>We've lost this page to the multiverse. Please enjoy this
        interdimensionally-approved cat gifs.</p>
      <p>Gabriel Guimaraes</p>
    </div>
    <img src="https://cataas.com/cat/gif" alt="cat gif">
    <i>gifs provided by <a href="https://www.catass.com">catass</a> api.</i>
  </main>
</body>

</html>
