<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{ template "header"}}
  <main>
    <h2>Personal Projects</h2>
    <h3>Porfolio</h3>
    <p>I designed and developed a comprehensive personal portfolio website to showcase my professional projects,
      technical skills, and relevant work experience, providing visitors.</p>
    <br>
    <p><a href="https://github.com/gabrielg2020/mothistory">GitHub</a> | <a href="/portfolio">Live</a></p>

    <hr>

    <h2>Open Source Contributions</h2>
    <h3>Maze Visualiser</h3>
    <p>I contributed to this open source SDK building out a testing suite mocking the MOT History server, introduced SDK
      rate limiting and added structured responses. These changes improved the stability of the SDK and developer
      experience.</p>
    <br>
    <p><a href="https://github.com/gabrielg2020/mothistory">GitHub</a> | <a
        href="https://documentation.history.mot.api.gov.uk/">MOT Histoy Docs</a></p>

    <hr>

    <h2>Acedemic Projects</h2>
    <h3>Maze Visualiser</h3>
    <p>The Maze Visualizer is an academic desktop application that demonstrates various maze generation and solving
      algorithms in real-time with customizable parameters including entry/exit points and color schemes.</p>
    <br>
    <p><a href="https://github.com/gabrielg2020/maze-visualiser">GitHub</a> | <a
        href="https://www.youtube.com/playlist?list=PL3YAEsPABRrxRmNFIRFjes7XDmWsjn9kN">Testing Playlist</a></p>
    <br>

    <h3>Codeowners</h3>
    <p>Built a script that automatically rotates codeowners for a GitHub Organisation using a recursive algorithm that
      takes into account extra data like codeowner frequency and previously owned repositories. This project was built
      for my Software Fundamentals module (QAC020C125SS).</p>
    <br>
    <p><a href="https://github.com/gabrielg2020/codeowners">GitHub</a></p>
    <br>

    <h3>Garage Database Model</h3>
    <p>Designed and constructed a fully normalised relational data model that stores data on garages, customers, owners
      and cars. I also added multiple helper scripts that rebuilds, displays, lists and run queries. This was built for
      my Data Modelling module (QAC020C123A).</p>
    <br>
    <p><a href="https://github.com/gabrielg2020/mot-garage-database">GitHub</a></p>

    <hr>

    <h2>Random Projects</h2>
    <h3>Small Chatroom</h3>
    <p>I just wanted to play around with websockets with Go...</p>
    <br>
    <p><a href="https://github.com/gabrielg2020/small-chatroom">GitHub</a></p>
  </main>
</body>

</html>
