<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  {{ template "header"}}
  <main>
    <h2>Technology Articles</h2>
    <ul>
      <li><a href="https://justfuckingusehtml.com/">Just Fucking Use HTML</a> by <a
          href="https://x.com/kyrylosilin">Kyrylo Silin</a></li>
    </ul>
    <hr>

    <h2>Philosophy Books</h2>
    <ul>
      <li><a
          href="https://www.amazon.co.uk/Think-Compelling-Introduction-Simon-Blackburn/dp/0192854259/ref=sr_1_1?crid=1XJKKLJV59BYN&dib=eyJ2IjoiMSJ9.HdhtLgTPvofYxJfKJAPkL31o1i0iiUdQf1Gu1XRAoIsCt3xN9D5aw1a_PYF_kJ8QiKz0YRRNZpOxu_i-sIcItXRSNefw6n93tzH-cyeF7S4.bYVH3zfSX_DF0SZHA-EwuYREQbnxcDviz8VBYloqnQk&dib_tag=se&keywords=think+simon+blackburn&qid=1747146964&sprefix=think+sim%2Caps%2C135&sr=8-1">Think</a>
        by Simon Blackburn
      </li>
    </ul>
  </main>
</body>

</html>
