@import url(reset.css);
@import url(colors.css);
@import url(responsive.css);

body {
  font-family: sans-serif;
  color: var(--primary-color);
  background-color: var(--background-color);
  font-size: var(--font-size);
  padding-top: 2rem;
  width: 75ch;
  margin: 0 auto;
}

main {
  margin-left: 0.5rem;
  margin-bottom: 4rem;
}

a {
  color: var(--tertiary-color);
}

img {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}


/* Header */
header {
  color: var(--secondary-color);
  margin-bottom: 2rem;
}

header>* {
  text-decoration: none;
}

header>a {
  color: var(--secondary-color);
}

nav {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
}

p {
  line-height: 1.2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: var(--secondary-color);
}

h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: var(--code-color);
}

i {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  background-color: var(--tertiary-color);
  border: none;
  height: 2px;
  margin-top: 1rem;
}

/* Post */
.post {
  display: flex;
  gap: 2rem;
  margin-bottom: 1.5rem;
}

.post>a {
  color: var(--secondary-color);
}

.post>a:visited {
  color: var(--tertiary-color);
}

/* Blog */
#content {
  margin-top: 2rem;
}

/* Code block */
.code {
  color: var(--code-color);
  background-color: var(--code-background-color);
  padding: 1rem;
  max-height: 10lh;
  overflow: auto;
}

/* Quote block */
.quote {
  padding: 1rem;
  margin: 1rem;
  border-left: 2px solid var(--tertiary-color);
}

.quote>p:first-child {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.quote>p:last-child {
  font-style: italic;
  font-weight: lighter;
}

/* Lists */
ul,
ol {
  margin-left: 3rem;
  margin-bottom: 2rem;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}
